<!DOCTYPE html>
<html>
<head>
    <title>{{ page-title }}</title>
    <meta name="description" content="{{ meta-description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- Load jQuery & Bootstrap js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Facicon.ico links -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- HEADER - Custom Scripts -->
    {{{ block "header-scripts" }}}

</head>
<body>

<header>

    <nav class="navbar navbar-default navbar-fixed-top navbar-minimal">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/"><img class="brand-img" src="/images/fire-wiki-white.png" width="150" /></a>
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                <li><a href="/wiki/home"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                {{#if rmenu-action }}
                    <li><a href="#" class="action" onclick="{{{ rmenu-js }}}">{{{ rmenu-action }}}</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
</header>

{{{ body }}}

<!-- LOAD - Custom Scripts -->
{{#block "footer-scripts"}}

{{/block}}
<!-- END - Custom Scripts -->


<footer>
    <div class="container p40">
        <div class="row">
            <div class="col-md-6">
                <p>&copy;&nbsp;FireWiki 2016 - <a href="http://www.adamjohnstone.co" target="_blank">adamjohnstone.co</a></p>
            </div>
            <div class="col-md-6 text-right">
                <a href="/wiki/home">Back to Home</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>