{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/landing-test-1.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700|Playfair+Display' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>


    <script>

        var converter = new showdown.Converter();

        $(document).ready(function() {

            $("#txtMarkdown").bind('input propertychange', function() {
                var text = $(this).val();
                $('#content').html(converter.makeHtml(text));
            });
        });

        function viewwiki() {
            window.location.href = '/wiki/{{slug}}';
        }

        function savewiki(slug) {

            var updatedWiki = {
                "markdown" : $('#txtMarkdown').val()
            };
            console.log(updatedWiki);
            var fullURL = window.location.pathname; // Returns path only
            var relativeURL = window.location.href;     // Returns full URL

            $.post(relativeURL, updatedWiki, function(data, status) {
                if(status !== 'success') {
                    //alert(data);
                }

                //alert('saved');
            });
        }
    </script>

{{/contentFor}}


<section class="article p140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 edit-panel">
                <div>
                    <h1 class="section-header pull-left">Markdown ##</h1>
                    <div class="pull-right" style="margin-top: 32px;">
                        <a href="#" class="action" onclick="viewwiki()"><i class="fa fa-file-o"></i>&nbsp;View Wiki</a>
                        <a href="#" class="action" onclick="savewiki('{{ wiki.slug }}')"><i class="fa fa-save"></i>&nbsp;Save</a>
                    </div>
                </div>
                <div>
                    <textarea id="txtMarkdown" class="form-control">{{{ article-markdown }}}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <article>
                    <header><h1 class="section-header">{{{ article-title }}}</h1></header>
                    <div id="content">{{{ article }}}</div>
                </article>
            </div>
        </div>
    </div>
</section>